body {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 200%
    font-weight: 200%
}

@media screen and (min-width: 1000px) {
    body {
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0px;
    }
}

.text-control-panel {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 40px;
    bottom: 10px;
}

.text-control-panel textarea {
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: 14pt;
    padding: 20px;
    border-color: lightgray;
}

.box {
    position: absolute;
    z-index: 100;
    padding: 20px;
    background-color: #ebffd6;
    color: rgba(0, 0, 0, 0.73);
}

@media screen and (min-width: 1000px) {
    .box {
        width: 390px;
        left: 50%;
        top: 50%;
        margin:-190px 0 0 -190px;
        border-radius: 10px;
        box-shadow: 0 0 20px #888888;
        opacity: 0.97;
    }
}

@media screen and (max-width: 1000px) {
    .box {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url("/images/close.png") no-repeat center/100%;
    cursor: pointer;
}

.box .title {
    font-size: 2em;
    margin-bottom: 20px;
}

.glasspanel {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.error {
    margin-top: 5px;
    color: red;
}

@media screen and (min-width: 1000px) {
    #filelist {
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    #filelist {
        padding: 0;
        left: 0;
        right: 0;
    }
}

table.filelist {
    border-collapse: collapse;
    width: 100%;
}

.filelist tr {
    border-bottom: 1px solid rgba(0,0,0,.30);
}

.filelist th, .filelist td {
    text-align: left;
    vertical-align: middle;
    color: rgba(0,0,0,.54);
}

.filelist th {
    padding-left: 10px;
    vertical-align: top;
    height: 30px;
}

.filelist td {
    cursor: pointer;
    padding: 30px 0 30px 40px;
    height: 50px;
    font-weight: 500;
    background: url("/images/file.png") no-repeat 10px 50%;
    vertical-align: middle;
}

.filelist tr.file:hover {
    background-color: rgba(0,0,0,.05);
}

.filelist .name {
    font-size: 1.3em;
    font-weight: 500;
    color: rgba(0,0,0,.72);
}

.top-bar {
    border-bottom: 1px solid lightgray;
    height: 30px;
}

.top-bar-button {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.top-bar-button.disabled {
    color: grey;
}

.top-bar-button.left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.top-bar-button.right {
    position: absolute;
    top: 10px;
    right: 10px;
}

#create-trailer {
    padding: 20px 0 0 10px;
    font-size: 1.2em
}

.loading {
    width: 100%;
    height: 100%;
    background: url("/images/loading.gif") no-repeat center;
}

.file-content {
    overflow: auto;
}

.file-viewer {
    word-wrap: break-word;
    font-size: 1.3em;
}